/* Variables */
:root {
    --accent: #0e7490;
    --box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
    --rose-700: #be123c;
    --slate-50: #f8fafc;
    --slate-200: #e2e8f0;
    --slate-800: #1e293b;
}

/* Utility Classes */
body {
    max-width: 1280px;
}


/* Universal Styles */

body {
    color: var(--slate-800);
    font-family: "Open Sans", sans-serif;
    font-size: 1.25rem;
}

h1 {
    font-size: 1.65rem;
    font-weight: normal;
}

/* Header Styles */

header {
    background-color: var(--slate-50);
    border-bottom: 1px solid var(--slate-200);
    box-shadow: var(--box-shadow);
    padding: 0.5rem;
}

h1 {
    margin-bottom: 3rem;
}

svg {
    max-width: 2rem;
    position: absolute;

}

svg:hover {
    color: var(--accent)
}

.notifications {
    position: relative;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.notifications:hover {
    color: var(--accent)
}

.messages {
    position: relative;
    margin: 1rem auto 0 auto;
    margin-bottom: 2rem;
}

.messages:hover {
    color: var(--accent)
}

.account {
    position: relative;
    margin: 1rem auto 0 auto;
    margin-bottom: 2rem;
}

.account:hover {
    color: var(--accent)
}

h4 {
    margin-left: 4rem;
    font-weight: 500;
    font-size: 1.5rem;
}

span {
    position: absolute;
    left: 1rem;
    bottom: .5rem;
    border: 2px solid var(--rose-700);
    background-color: var(--rose-700);
    border-radius: 50%;
    width: 2.1rem;
    height: 2rem;
    text-align: center;
    color: var(--slate-50);
}

span:hover {
    color: var(--accent)
}


/* Media Query */
@media screen and (min-width:720px) {
    .container {
        display: flex;
        flex-wrap: wrap;
        max-width: 100%;
        max-height: 4rem;
        align-items: flex-end;
        padding-left: 6rem;
        margin-bottom: 1rem;
    }

    .header-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        max-height: 3rem;
        padding-top: 0;
    }

    h1 {
        max-width: 5rem;
        margin-bottom: 0;
        margin-top: 1rem;
        text-align: left;
        margin-left: 1rem;
        font-size: 1rem;
    }

    .notifications {
        justify-content: flex-start;
        margin-bottom: .5rem;
    }

    .account {
        justify-content: flex-end;
        margin-bottom: .5rem;
        margin-left: 2rem;
    }

    .messages {
        justify-content: center;
        margin-bottom: .5rem;
        margin-left: 2rem;
    }

    h4 {
        margin-left: 3rem;
        font-size: 1rem;
    }

    span {
        font-size: .8rem;
        height: 1.5rem;
        width: 1.5rem;
        left: .5rem;
    }

    svg {
        height: 1.5rem;
    }


}